.navbar-light {
  background-color: #FFE4E1; 
}

.food {
  font-size: 40px;
}

.navbaritem {
  text-align: center;
  font-size: 20px;
}

.menu {
  text-align: center;
}

.border {
  border-color: #DDA0DD;
}

.menutitle {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.bgchicken {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FFDAB9;
}

.bgbeef {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #BC8F8F;
}

.bgsushi {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #87CEEB;
}